<!--部分テンプレート-->
<!--user showのuser infoとbook indexの投稿機能をまとめる-->
<!--違うコントローラーからの引用をどうする？-->
<h1>User info</h1>
<%= image_tag user.get_image %>
<p>name <%= user.name %></p>
<p>introduction <%= user.introduction %></p>

<%= form_with model:book do |book|%>
 <h1>New Book</h1>
 <p>Title</p>
 <%= book.text_field:title%>
 <p>Opinion</p>
 <%= book.text_area:body %><br>
 <%= book.submit 'Create Book'%>
<% end %>