<!--bookers2 users#index ユーザーの一覧-->
<div class="container">
 <div class="row row-cols-2">
  <div class="col">
   <%= render 'books/bookerror',book:@book %>
   <%= render 'userinfo',user:@user %>
   <%= render 'books/booknew',book:@book %>
  </div>
 
  <div class="col">
   <table class="table">
    <h2>Users</h2>
    <thead>
     <th>image</th>
     <th>name</th>
     <th></th>
    </thead>
   
    <tbody>
      <% @users.each do |user|%>
       <tr>
        <td><%= image_tag user.get_profile_image,size:'100x100' %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show",user_path(user.id)%></td>
       </tr>
      <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>