<!--bookers2 users show ユーザーの詳細画面 = ログインしたときの画面-->
<h1>＊Users詳細画面</h1>

<%= render 'userinfo',user:@user,book:@book %>

<h1>Books</h1>

<%= @books.each do |book|%>
 <p>Title
  <%= link_to book_path(book.id) do %>
   <%= book.title %>
  <% end %>
 </p>
 <p>Opinion <%= book.body %></p>
<% end %>