<!--bookers2 book edit-->
<h1>Editing Book</h1>

<%= form_with model:@book do |book|%>
 <p>Title</p>
 <%= book.text_field:title %>

 <p>Opinion</p>
 <%= book.text_area:body %><br>

 <%= book.submit 'Update Book'%>
 
<% end %>

<%= link_to "Show",book_path(@book.id)%>
<%= link_to "Back",books_path %>
