<!--bookers2 books#show 本の詳細画面-->
<div class="container">
 <div class="row row-cols-2">
  <div class="col">
   <%= render 'books/bookerror',book:@book %>
   <%= render 'users/userinfo',user:@user %>
   <%= render 'booknew',book:@book %>
  </div>
  
  <div class="col">
   <div class="col">
    <table class="table">
     <h2>Book detail</h2>
     <tr>
      <td>
       <%= link_to user_path(@user.id) do %>
        <%= image_tag @bookid.user.get_profile_image,size:'100x100' %><br>
        <%= @bookid.user.name %>
       <% end %>
      </td>
      <td>
       <%= link_to book_path(@bookid.id)do %>
        <%= @bookid.title %>
       <% end %>
      </td>
      <td><%= @bookid.body %></td>
      <td>
        <%= link_to "Edit",edit_book_path(@bookid.id),class:'btn btn-success btn-sm'%>
      </td>
      <td>
       <% if @bookid.user == current_user %>
        <%= link_to "Destroy",book_path(@bookid.id),method: :delete,"data-confirm"=>"本当に消しますか？",class:'btn btn-danger btn-sm'%></td>
       <% end %>
     </tr>
    </table>
   </div>
  </div>
 </div>
</div>