<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <li>
        <%= link_to"home",root_path %>
      </li>
      <!--ログインしていない時は新規登録orログインのリンク、ログインしているときはユーザ詳細、book一覧、ログアウトのリンク-->
      <!--user詳細、book一覧を作ってから-->
    </header>
    <%= yield %>
  </body>
</html>
